@charset "utf-8";
html, body, div, span, applet, object, iframe, form, fieldset,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, var, small, strike, strong, sub, sup, tt, b, u, i,
center, dl, dt, dd, ol, ul, li,  label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
del { text-decoration: line-through; }
table{ border-collapse:separate; border-spacing:0;}
a:link{color:#ff6633;text-decoration:none;outline:0;}
a:visited{color:#ff6633;text-decoration:none;outline:0;}
a:hover{color:#ff6633; text-decoration:none; outline:0;}
a:active{color:#ccc;text-decoration:none;outline:0;}
caption,th,td{font-weight:normal;text-align:left;}
i,em{font-style:italic;}
b,strong{font-weight:bold;}
small{font-size:0.625em;}
big{font-size:1.0em;}
img {max-width: 100%; max-height:100%;}
img.alignright{float:right; margin:0 0 1em 1em}
img.alignleft{float:left; margin:0 1em 1em 0}
img.aligncenter{display: block; margin-left: auto; margin-right: auto}
a img.alignright{float:right; margin:0 0 1em 1em}
a img.alignleft{float:left; margin:0 1em 1em 0}
a img.aligncenter{display: block; margin-left: auto; margin-right: auto}
a img{border:0;}
input{border:0.063em solid #33cc99;}
p{line-height: 1.4em; padding-bottom:1.0em; text-indent: 3em;}}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
*{margin:0; padding:0; outline:none; border:none; font-size: 1em; font-family: "Arial"; color: #666;}
body{height: 100%;}
html{
  overflow-x: hidden;
  font-size: 1em; /* 1 */
  -webkit-text-size-adjust: 1em; /* 2 */
  -moz-text-size-adjust: 1em; /* 2 */
  -ms-text-size-adjust: 1em;
  -o-text-size-adjust: 1em;
  text-size-adjust: 1em;
}
h1,h2,h3,h4,h5,h6 {line-height: 1.750em;                    				}
h1                {font-size: 2em;    margin: 0.670em 0;     				}
h2                {font-size: 1.5em;  margin: 0.830em 0; color: #37515e;	}
h3                {font-size: 1.17em; margin: 1.000em 0;        			}
h4                {font-size: 1em;    margin: 1.330em 0;     				}
h5                {font-size: 0.83em; margin: 1.670em 0;     				}
h6                {font-size: 0.75em; margin: 2.330em 0;     				}

/*====================================
=            CSS-Default            =
====================================*/
.clear{ clear: both;}
.center{width: 95%; margin: 0 auto; min-width: 900px;}
.floatleft{ float: left;}

.widget-left, .widget-right{ width: 20%; }
.widget-left a, .widget-right a{color: #999;}
.widget-left li, .widget-right li{ padding: 7px 0;}
.midle{ width: 56%; padding: 0 2%;}

input[type=checkbox] {
opacity: 0;
margin-right: -12px;
cursor: pointer;
width: 12px;
height: 12px;
}
input[type=checkbox] + span:before {
content: "0a0";
display: inline-block;
margin-right: 15px;
width: 12px;
height: 12px;
visibility: visible;
border: 2px dashed #999;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
line-height: 12px;
font-size: 14px;
text-align: center;
font-weight: bold;
color: #052;
}
input[type=checkbox]:checked + span:before {
content: "0d7";
}
/*==================================
=            CSS-sprite            =
==================================*/
.sprite{background: url("imagens/sprint.png") no-repeat;}

.icon-grup{ background-position:-0px -57px; width: 27px; height: 21px; float: left; clear: both;}
.icon-chat{ background-position:-36px -57px; width: 24px; height: 18px; float: left; clear: both;}

.icon-job-big{ background-position:-0px -111px; width: 46px; height: 49px; margin: 0 auto;}
.icon-msg-big{ background-position:-53px -111px; width: 51px; height: 49px; margin: 0 auto;}
.icon-perf-marq-big{ background-position:-112px -111px; width: 43px; height: 49px; margin: 0 auto;}
.icon-perf-big{ background-position:-162px -111px; width: 44px; height: 49px; margin: 0 auto;}
.icon-conex-big{ background-position:-211px -111px; width: 58px; height: 49px; margin: 0 auto;}
.icon-imagens-big{ background-position:-277px -111px; width: 59px; height: 49px; margin: 0 auto;}

.icon-endereco{ background-position:-0px -32px; width: 18px; height: 16px; float: left; margin-right: 0.2em;}
.icon-fone{ background-position:-23px -32px; width: 18px; height: 16px; float: left; margin-right: 0.2em;}
.icon-mail{ background-position:-49px -32px; width: 18px; height: 16px; float: left; margin-right: 0.2em;}
.icon-cargo{ background-position:-73px -32px; width: 18px; height: 16px; float: left; margin-right: 0.2em;}

.icon-voltar-small{ background-position:-0px -168px; width: 18px; height: 16px; float: left; margin: 0.125em 0.3em 0.125em 0;}
.icon-job-small{ background-position:-84px -168px; width: 18px; height: 16px; float: left; margin: 0.125em 0.3em 0.125em 0;}
.icon-criar-small{ background-position:-107px -168px; width: 18px; height: 16px; float: left; margin: 0.125em 0.3em 0.125em 0;}

.icon-profissional{ background-position:-0px -198px; width: 20px; height: 25px; float: left; margin: 0.125em 0.3em 0.125em 0; clear: both; }
.icon-webdevelopers{ background-position:-29px -198px; width: 20px; height: 25px; float: left; margin: 0.125em 0.3em 0.125em 0; clear: both; }
.icon-investidor{ background-position:-60px -198px; width: 20px; height: 25px; float: left; margin: 0.125em 0.3em 0.125em 0; clear: both; }

/*-----  End of CSS-sprite  ------*/

/*-----  End of CSS-Default  ------*/

/*==================================
=            CSS-Botões            =
==================================*/

.btn-job{
	-webkit-box-shadow: 0 0.5em 0 rgba(238,108,12,1);
	-moz-box-shadow: 0 0.5em 0 rgba(238,108,12,1);
	-ms-box-shadow: 0 0.5em 0 rgba(238,108,12,1);
	-o-box-shadow: 0 0.5em 0 rgba(238,108,12,1);
	box-shadow: 0 0.5em 0 rgba(238,108,12,1);
	background: #f68736;
}
.btn-msg{
	-webkit-box-shadow: 0 0.5em 0 rgba(36,56,65,1);
	-moz-box-shadow: 0 0.5em 0 rgba(36,56,65,1);
	-ms-box-shadow: 0 0.5em 0 rgba(36,56,65,1);
	-o-box-shadow: 0 0.5em 0 rgba(36,56,65,1);
	box-shadow: 0 0.5em 0 rgba(36,56,65,1);
	background: #37515e;
}
.btn-perf-marq{
	-webkit-box-shadow: 0 0.5em 0 rgba(0,140,141,1);
	-moz-box-shadow: 0 0.5em 0 rgba(0,140,141,1);
	-ms-box-shadow: 0 0.5em 0 rgba(0,140,141,1);
	-o-box-shadow: 0 0.5em 0 rgba(0,140,141,1);
	box-shadow: 0 0.5em 0 rgba(0,140,141,1);
	background: #00b2b2;
}
.btn-perf{
	-webkit-box-shadow: 0 0.5em 0 rgba(134,178,3,1);
	-moz-box-shadow: 0 0.5em 0 rgba(134,178,3,1);
	-ms-box-shadow: 0 0.5em 0 rgba(134,178,3,1);
	-o-box-shadow: 0 0.5em 0 rgba(134,178,3,1);
	box-shadow: 0 0.5em 0 rgba(134,178,3,1);
	background: #a3d801;
}
.btn-conex{
	-webkit-box-shadow: 0 0.5em 0 rgba(192,47,0,1);
	-moz-box-shadow: 0 0.5em 0 rgba(192,47,0,1);
	-ms-box-shadow: 0 0.5em 0 rgba(192,47,0,1);
	-o-box-shadow: 0 0.5em 0 rgba(192,47,0,1);
	box-shadow: 0 0.5em 0 rgba(192,47,0,1);
	background: #ff4001;
}
.btn-img{
	-webkit-box-shadow: 0 0.5em 0 rgba(96,1,191,1);
	-moz-box-shadow: 0 0.5em 0 rgba(96,1,191,1);
	-ms-box-shadow: 0 0.5em 0 rgba(96,1,191,1);
	-o-box-shadow: 0 0.5em 0 rgba(96,1,191,1);
	box-shadow: 0 0.5em 0 rgba(96,1,191,1);
	background: #7f00ff;
}
.btn-job:active,
.btn-msg:active,
.btn-perf-marq:active,
.btn-perf:active,
.btn-conex:active,
.btn-img:active{
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px;
	-ms-box-shadow: 0px 0px 0px;
	-o-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	margin-top: 1.5em;
	margin-bottom: -0.5em;
}

.btn-jobs{
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	border-radius: 0.4em;
	background: #37515e;
	margin: 0 0.75em 1em 0;
	padding: 0.5em 1em;
	float: left;
	color: #FFF;
}
.btn-jobs:hover{ background: #f58736; cursor: pointer;}

/*-----  End of CSS-Botões  ------*/



/*=================================
=            CSS-Index            =
=================================*/
.header-geral, .profile-header{ height: 80px;}
.header-geral li, .profile-header li{float: left;}
.header-geral{ background: #f7f7f7; height: 160px; margin-bottom: 2em;}
.logo-geral{ float: left; max-width: 18%; margin:0.600em 0;}
.header-geral input{ height: 80px; margin: 0 0 0 2%; padding: 0 50px; float: left; width: 39%; border: 1px solid #ededed; border-top: none; border-bottom: none;}
.profile-header{ background: #37515e;}
.profile-header .img-user {
	border: 3px solid #FFF;
	border-radius: 43px;
	margin: 11px 0;
	width: 52px;
	float: left;
}
.profile-header .name-user {
    font-size: 93px;
    float: left;
}
.profile-header .user-name {
    padding: 28px 19px;
    font-size: 20px;
    float: left;
    color: #FFF;
}
.profile-header .center ul {
    display: inline-block;
    padding: 31px 0;
}
.profile-header .center ul li {
    margin: 0 20px;
}
.profile-header .center ul li a {
    font-size: 15px;
    color: #FFF;
}
.widget-left h2, .widget-right h2, .midle h2{ border-bottom: 1px solid #CCC;}
.header-geral .center .icons-header {
	display: inline-block;
	padding-left: 10px;
	float: left;
}
.header-geral .center .icons-header a {
	background: url("imagens/sprint.png") no-repeat;
	position: relative;
	text-indent: -9999;
	display: block;
	height: 24px;
	font-size: 0;
	width: 34px;
}
.header-geral .center .icons-header ul li {
    padding: 28px 10px;
}
.not-line-vert,
.conf-line-vert  {
	border-right: 1px solid #DDD;
}
.header-geral .center .icons-header a.mens-ico {
	background-position: 0 0;
}
.header-geral .center .icons-header span.count-mens, 
.header-geral .center .icons-header span.count-not {
	margin: -35px 0 0 19px;
    background: #F10606;
    position: absolute;
    border-radius: 3px;
    padding: 1px 4px;
    font-size: 11px;
    color: #FFF;
}
.header-geral .center .icons-header a.not-ico {
	background-position: -36px 0;
}
.header-geral .center .icons-header a.pass-ico {
	background-position: -68px 0;
}
.header-geral .center .icons-header a.conf-ico {
	background-position: -100px 0;
}
.header-geral .center .icons-header a.logout-ico {
	background-position: -132px 0;
}
.header-geral .center .icons-header a.logout-ico p {
    margin: 0px 0 0 -20px;
    position: absolute;
    font-size: 17px;
    color: #F63;
}
.widget-left li:nth-child(odd){
	background:#f2f2f2;
}
.widget-right li:nth-child(odd){
	background:#f2f2f2;
}
.escolha{ width: 20%; float: left; margin: 1em 3.5%; border-radius: 5px; padding: 2em 3%; text-align: center; }
.escolha h3{color: #FFF; margin: 1em 0 0 0; font-weight: normal;}
.escolha img{ width: 100%; margin: 0 auto;}
/*-----  End of CSS-Index  ------*/

/*================================
=            CSS-Jobs            =
================================*/
.jobs-criados li{ height: 2em; margin: 0.25em 0; padding: 0 1%;}
.jobs-criados li:nth-child(odd){ background: #f2f2f2; }
.padding-li-job{ padding: 0.5em 0;}
.padding-li-job span{ float: right;}

/*-----  End of CSS-Jobs  ------*/



/*==================================
=            CSS-Footer            =
==================================*/
.footer-geral{ border-top: 1px solid #ccc; padding: 1em 0; }
.footer-geral address{ font-style: normal;}
.list-footer{ float: right;}
.list-footer li{ float: left;}
.list-footer a{ padding: 1em; font-size: 0.7em}
/*-----  End of CSS-Footer  ------*/

